@{
    ViewData["Title"] = "My Jobs Registry";
}

<div class="text-center">
    <h3>Welcome to our Hack Friday job registry web application</h3>
    <p>Each one of our registered persons is fortunate enough to have as many jobs as they wish paying their desired amounts.</a>.</p>
    <p>Go ahead, register your self and your desired jobs!</p>
</div>

<h6 class="text-info">Learn how to architect and build a modern web application using the below technologies, patterns and practices:</h6>
<ul>
    <li> Asp.net Core</li>
    <li> EntityFramework Core</li>
    <li> Dependency Injection</li>
    <li> Inversion Of Control</li>
    <li> Application Architecture - Hexaginal/Onion/Clean</li>
    <li> Testability - Unit testing</li>
</ul>