@model MyJobs.Core.PersonViewModel

@{
    ViewData["Title"] = "Registration";
}

<h4>Register A Job Seeker</h4>

<hr />
<div class="row">
    <div class="card col-md-6">
        <div class="card-header">

        </div>
        <div class="card-body">
            
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>             
        </div>
    </div>
   
</div>

<div>
    <a asp-action="Index">Back to job seekers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
