@model IEnumerable<MyJobs.Core.PersonViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Registered Job Seekers</h4>

<p>
    <a asp-action="Create">Register New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
              
                </td>
            </tr>
        }
    </tbody>
</table>